* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hire-me-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    justify-content: center;


}

.hire-me-text {
    width: 50%;
    padding-left: 5%;
}

.hire-me-text h1 {
    font-size: 3.15rem;
    line-height: 2;
    padding-top: 1.50rem;
}

.hire-me-text h2 {
    font-size: 2.25rem;
    line-height: 2;
    padding-bottom: 1rem;
}

.hire-me-text h2 span {
    color: #FFA500;
}

.hire-me-text h3 {
    padding-bottom: 1.50rem;
    font-size: 1.75rem;
}

.hire-me-text p {
    color: gray;
    text-align: justify;
    padding-bottom: 1rem;
}

.btn {
    text-decoration: none;
    padding: 0.60rem 2rem;
    background-image: linear-gradient(to right, #FF8A67, #FF6D4F);
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
}

.hire-section-img {
    width: 50%;
    padding-left: 2%;
}

.hire-section-img img {
    width: 80%;
}

.my-cs-section {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.my-cs-img {
    width: 50%;
    padding-left: 4rem;
}

.my-cs-img img {
    width: 80%;
}

.my-cs-text {
    width: 50%;
}

.my-cs-text h2 {
    line-height: 3;
    font-size: 2.50rem;
    padding-top: 1rem;
}

.my-cs-text h3 {
    padding-bottom: 1.50rem;
}

.my-cs-text p {
    width: 82%;
    text-align: justify;
    color: gray;
    padding-bottom: 1rem;
}

.expresss {
    margin-top: 7rem;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expresss h2 {
    font-size: 3.125rem;

}

.express-skils {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.express-1 {
    box-shadow: 5px 7px 40px gray;
    width: 45%;
    height: 80%;
    margin-right: 2rem;
    padding: 1%;
    border-left: 7px solid;
    border-image: linear-gradient(#FF9974, #FF6B4E);
    border-image-slice: 4%;
    border-radius: 0.50rem;
}

.express-1 h3 {
    font-size: 2.40rem;
    padding-left: 1rem;
    line-height: 3;
}

.express-1 h5 {
    font-size: 1.10rem;
    padding-left: 1rem;
    color: #FFA500;
    padding-bottom: 1.50rem;
}

.express-1 p {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3.40rem;
    color: gray;
    text-align: justify;
}

.express-2 {
    box-shadow: 5px 7px 40px gray;
    width: 45%;
    height: 80%;
    margin-left: 2rem;
    padding: 1%;
    border-left: 7px solid;
    border-image: linear-gradient(#0016FF, #00B0FF);
    border-image-slice: 4%;
    border-radius: 5px;
}


.express-2 h3 {
    font-size: 2.40rem;
    padding-left: 1rem;
    line-height: 3;
}

.express-2 h5 {
    font-size: 1rem;
    padding-left: 1.70rem;
    color: #FFA500;
    padding-bottom: 1.50rem;
}

.express-2 p {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3.40rem;
    color: gray;
    text-align: justify;
}

.footer-section {
    margin-top: 6rem;
    margin-bottom: 1rem;
    color: gray;
    text-align: center;
}